*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none
}

body{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

.container{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

h1{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 90px;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

h2{
    font-weight: 600;
    font-size: 2rem;
    color: #00214d;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

h3{
    font-weight: 600;
    font-size: 3rem;
    color: #00214d;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

h5{
    font-size: 1.5rem;
    color:#00ebc7;
    padding-bottom: 20px;
}


/*---MAIN---*/

/*---Banner principal---*/

.main{
    width: 100%;
}

.banner{
    width: 100%;
    position: relative;
}

.banner-principal{
    width: 100%;
    height: 75vh;
    /*background-image: url("https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.texto-banner{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    background-color: #55555596;
    border-radius: 10px;
}

.text-h1{
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
}

/* Precio */
.price{
    background-color: #f2f4f6;
    padding: 80px 0 54px 0;
}
.price .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

/* Descripcion */
.description{
    padding: 80px 0 54px 0;
}

/* Características */
.characteristics{
    background-color: #001534;
    padding: 80px 0 54px 0;
    color: #fff;
}

 /* .characteristics-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.characteristics-items-inside, .characteristics-items-outside{
    width: 90%;
    padding: 10px;
}  */


.section-title h2{
    color: #fff;  
}

.list{
        width: 33%;
        vertical-align: middle;
        margin-bottom: 15px;
        line-height: 12px;
}



/*Galería*/
.galleries{
    background-color: #f2f4f6;
    padding: 80px 0 54px 0;
}


.gallery-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 34px;
}

.gallery{
    width: 32%;
    margin-bottom: 2%;
    cursor: pointer;   
}

.gallery img{
    width: 100%;
    vertical-align: top;
}
/* Modal fotos proyecto */
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 999999999999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal img{
    width: 90%;
    max-width: 600px;
}

.modal .btn-cerrar{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    background: #00ebc7;
    text-align: center;
    cursor: pointer;
  }
  
  .modal .btn-cerrar i{
    color: #fff;
    font-size: 1rem;
    line-height: 100px;
  }

/* Contacto */
.contact{
    padding: 100px 0;
    background-image: url("https://img.freepik.com/foto-gratis/joven-hombre-negocios-feliz-expresion_1194-1554.jpg?w=740&t=st=1653261571~exp=1653262171~hmac=660849bba84b21f9bafe4c35f23d5df1fcb2a19782aed20978186a111ecefda4");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-forms{
    /* background: #fff; */
    min-height: 485px;
    border-radius: 3px;
    box-shadow: 0px 9px 32 px -11px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}

.forms{
    background: #fff;
    width: 50%;
    padding: 70px;
}

.forms h2{
    font-size: 1.375rem;
    line-height: 24px;
    color: #00214d;
    font-weight: 700;
    margin-bottom: 10px;
}

.form p{
    color: #1b2d45;
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 30px;
}

.forms form input[type="text"], .forms form input[type="email"], .forms form input[type="number"] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
    color: #00ebc7;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.forms form textarea{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
    width: 100%;
    max-width: 100%;
    max-height: 88px;
    min-height: 88px;
    color: #00ebc7;
    margin-bottom: 10 px;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    letter-spacing: 0;
}

.forms input[type="submit"]{
width: 100%;
border: none;
border: 3px solid #00214d;
padding: 8px;
background-color: #fff;
font-size: 0.9rem;
font-family: 'poppins', sans-serif;
letter-spacing: 0.5px;
cursor: pointer;
transition: all .7s ease;
}

.forms input[type="submit"]:hover{
    background: #00ebc7;
    color: #00214d;
}

.forms .models{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/*Validacion formulario*/

 .forms form .error{
    display: none;
    color: #ff8c8c;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }


@media screen and (max-width:1040px) {
    
}