*{
    margin: 0;
    padding: 0;
}

/*Bloque 1*/
.hero-card{
    /* Hero */
position: absolute;
width: 1440px;
height: 636px;
left: 0px;
top: 80px;
}

.details-card{
    margin:0;
    min-height: 100vh;
    background-image: url(https://imgclasificados4.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_5109_los-acacios_fachada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.details-card-title{
    position: absolute;
    width: 720px;
    height: 88px;
    left: 360px;
    top: 248px;
    
    /* Heading/Bold/H2 - 64px */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    /* identical to box height, or 138% */
    
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Text/White */
    
    color: #FFFFFF;
}

.details-card-subtitle{
    position: absolute;
width: 817px;
height: 52px;
left: 311px;
top: 360px;

/* Paragraph/Reguler/Body - 16px */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

/* Text/Disable */

color: #E6E6E6;
}

.b2{
    position: absolute;
    width: 1232px;
    height: 891px;
    left: 104px;
    top: 740px;
}

.b2-img1{
    position: relative;
    width: 1232px;
    height: 615px;
    margin-bottom: 2%;

    background: #E6E6E6;
    border-radius: 8px;
}

.b2-img2{
    position: relative;
    width: 394.67px;
    height: 252px;
    border: 12px;
    margin-right: 1.5%;

    background: #E6E6E6;
    border-radius: 8px;
}

.b2-img3{
    position: relative;
    width: 394.67px;
    height: 252px;
    border: 12px; 
    margin-right: 1.5%;
    
    background: #E6E6E6;
    border-radius: 8px;
}

.b2-img4{
    position: relative;
    width: 394.67px;
    height: 252px;
    border: 12px;

    background: #E6E6E6;
    border-radius: 8px;
}

.s-title{
    /* Heading/Bold/H3 - 48px */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

text-transform: capitalize;
font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/Tittle */

color: #123763;
margin-top: 2%;
margin-bottom: 2%;

}

.paragraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    /* Text/Body */
    color: #474747;
    margin-top: 2%;    
}

.b3{
    position: absolute;
width: 1024px;
height: 270px;
left: 104px;
top: 1679px;
}

.b4{
    position: absolute;
    width: 1223px;
    height: 664px;
    left: 104px;
    top: 2029px;
}

.b4-list-1{
    /* Smart Home */
    position: relative;
    width: 333px;
    height: 244px;
    display: inline-block;
    margin-top: 3%;
    margin-right: 5%;
}

.b4-list-2{
    /* Smart Home */
    position: relative;
    width: 333px;
    height: 244px;
    display: inline-block;
    margin-top: 3%;
    margin-right: 5%;
}


.b4-title-item{
    /* Heading/Bold/H5 - 24px */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */

    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Text/Tittle */

    color: #123763;
}

.b4-paragraph-item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
/* or 162% */

/* Text/Body */

color: #474747;
}

.b5{
    position: absolute;
width: 1232px;
height: 1572px;
left: 104px;
top: 2853px;
}

.b5-title{
    text-align: center;
}

.b5-phases{
    /* First Phase */
position: relative;
width: 1232px;
height: 311px;
margin-top: 5%;
display: flex;
}

.b5-phases-img{
    position: relative;
    width: 540px;
    height: 311px;
    }

.b5-phases-text{
    position: relative;
    width: 540px;
    height: 311px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.b5-subtitle .b5-paragraph{
    margin: 2%;
}

/*.b6{
    position: absolute;
width: 1232px;
height: 1105px;
left: 104px;
top: 4585px;
}

.carousel-gallery{

    display: inline-block;
}*/

.b7-button{
    /* Button */
    position: static;
    width: 60px;
    height: 24px;
    left: 40px;
    top: 24px;
    
    /* Heading/Bold/H6 - 16px */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Base/White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 24px 40px;

position: absolute;
width: 174px;
height: 72px;
left: 633px;
top: 4562px;

/* Primary/50% */

background: #2EC4B6;
border-radius: 8px;
}

/*Footer*/
.footer{
    position: absolute;
width: 1440px;
height: 403px;
left: 0px;
top: 4774px;
}