#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #398ee4;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

.container{
    padding: 20px 275px;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 60px;
    overflow: hidden;
}

.container img{
    width: 100%;
    vertical-align: top;
}
header nav{
    background: #398ee4;
    margin-bottom: 10px;
}
header nav ul{
    list-style:none;
    overflow: hidden;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    display:block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
header nav ul li a:hover{
    background: #2980b9;
}